services:
  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: school-management-db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Passw0rd
    ports:
      - "1433:1433"
    volumes:
      - ./sqlserver-data:/var/opt/mssql/data
    platform: linux/amd64 # Required for Apple Silicon
